[general]
# profile_path = None
remove_temp_files = True

[dvelop]
host = xxx.d-velop.cloud
key = xxx
repository = xxx

[openwowi]
cache_connection = xxx

[Logging]
method = file
level = info
# graylog_host = localhost
# graylog_port = 12201
# graylog_app_name = xxx