#/bin/bash
shopt -s nocaseglob
shopt -s nullglob
for f in ./input/*.pdf
do
echo $f
bn=$(basename $f)
echo $bn

/usr/bin/ocrmypdf -d -l deu --skip-text "$f" "./ocr/$bn"
mv "$f" "./backup/ocr/$bn"

done